body {
    background-color: black;
    color: white; /* Text color set to white for better visibility */
  }

.container {
 
    border-bottom: 1px solid rgb(250, 250, 250); /* Line at the bottom */
    display: flex;
     
    align-items: center; 
   
  }
  
  .div1, .div2,.div3,.div4,.div5{
    flex: 1;
  }

  .data-container {
    margin-top: 20px; /* Adjust spacing between the containers */
    font-size: x-large;
    align-items: center; 


    border-bottom: 1px solid rgb(250, 250, 250); /* Line at the bottom */

  }
  .data-container2 {
    margin-top: 20px; /* Adjust spacing between the containers */
    font-size:medium;
    align-items: center; 

    border-bottom: 1px solid rgb(250, 250, 250); /* Line at the bottom */

  }
  
  nav a {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .nav-link {
    color: #ece2e2; /* Default color */
    text-decoration: none;
    margin-right: 10px;
  }
  
  .nav-link:hover {
    color: #e4cccc; /* Hover color */
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
  }
  .button {
    margin-right: 20px;
  }
  